<h3 class="header">News feed</h3>
<div class="chips-list">
    <mat-chip-list>
        <mat-chip *ngFor="let feed of feedUrls" (click)="loadNews(feed)">{{feed.location}}</mat-chip>
    </mat-chip-list>
</div>
<div *ngFor="let item of newsItems">
    <mat-card class="news-card">
        <p class="pub-date">{{item.pubDate}}</p>
        <table>
            <tr>
                <td>
                    <img class="thumbnail" src="{{item.thumbnail}}" alt="">
                </td>
                <td>
                    <p class="title">{{item.title}}</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p class="description" [innerHTML]="item.description"></p>
                </td>
            </tr>
        </table>
        <div style="float: right;">
            <a href="{{item.link}}" target="_blank"><img src="../assets/read_more-24px.svg" alt=""></a>
        </div>

    </mat-card>
</div>